﻿@page "/confirmAuth/{PinPassword}"

@namespace MauiBlazorHybridAppDemo.Components.Pages
@using MauiBlazorHybridAppDemo.State.Authentication

<div class="page">
    <div class="header-container">
        <div class="header-back-control" @onclick="OnBackClick">
            <img class="back-image" src="images/left_arrow.png" />
            <p>&nbsp;Back</p>
        </div>
        <img class="logo" src="images/schluss_logo_pink.png" alt="Logo" />
    </div>

    <div class="body-container">
        <div class="pin-output">
            <div class="pin-instructions">
                <p>Confirm your pincode</p>
            </div>
            <div class="pin-display">
                <div style="flex:1"></div>
                <div class="pin-dots">
                    @foreach (string pinChar in PinSymbols)
                    {
                        <div style="flex: 1; @((pinChar ==  "•") ? "color:#E1E1E1;" : "color:#F84B6A;")">@pinChar</div>
                    }
                </div>

                <div class="pin-show-toggle">
                    <img @onclick="OnShowPinCode" src=@(showPinCode ? "images/eye_closed_icon.png" : "images/eye_open_icon.png") style=@(showPinCode ? "height:22px" : "height:16px") />
                </div>

            </div>
            <div class="pin-warning">
                @if (passwordConfirmed != null)
                {
                    <div class="warning @(passwordConfirmed == true ? "green" : "red")">@(passwordConfirmed == true ? "Perfect! We're all set!" : "PIN does not match")</div>
                }
            </div>
        </div>

        <div class="pin-input">
            <div class="row">
                <div @onclick="() => OnPinClick(1)" class="pin-btn">1</div>
                <div @onclick="() => OnPinClick(2)" class="pin-btn">2</div>
                <div @onclick="() => OnPinClick(3)" class="pin-btn">3</div>
            </div>
            <div class="row">
                <div @onclick="() => OnPinClick(4)" class="pin-btn">4</div>
                <div @onclick="() => OnPinClick(5)" class="pin-btn">5</div>
                <div @onclick="() => OnPinClick(6)" class="pin-btn">6</div>
            </div>
            <div class="row">
                <div @onclick="() => OnPinClick(7)" class="pin-btn">7</div>
                <div @onclick="() => OnPinClick(8)" class="pin-btn">8</div>
                <div @onclick="() => OnPinClick(9)" class="pin-btn">9</div>
            </div>
            <div class="row">
                <div class="pin-btn-transparent "></div>
                <div @onclick="() => OnPinClick(0)" class="pin-btn">0</div>
                <div @onclick="OnDelete" class="pin-btn-transparent">
                    <img src="images/backspace_icon.png" style="width: 2em;" />
                </div>
            </div>
        </div>
    </div>

</div>

@code {
    #region Variables/Properties

    [Parameter]
    public string? PinPassword { get; set; }

    private string starSymbol = "✱";
    private string dotSymbol = "•";

    private string currentPin = String.Empty;
    public List<string> PinSymbols { get; set; } = new List<string>() { "•", "•", "•", "•", "•" };

    private bool showPinCode = false;
    bool? passwordConfirmed = null;

    #endregion

    #region Events

    private async void OnPinClick(int pinChar)
    {
        if (currentPin.Length < 5)
        {
            currentPin += pinChar.ToString();
            PinSymbols[currentPin.Length - 1] = pinChar.ToString();

            applyPinCode();

            if (currentPin.Length == 5)
            {
                if (PinPassword == currentPin && await PasswordStorage.GetInstance().RegisterPassword(currentPin))
                {
                    passwordConfirmed = true;
                    StateHasChanged();
                    NavigationManager.NavigateTo("/createVault");
                }
                else
                {
                    passwordConfirmed = false;
                    StateHasChanged();
                }

            }
        }

    }

    private void OnDelete()
    {
        if (currentPin.Length > 0)
        {
            currentPin = currentPin.Substring(0, currentPin.Length - 1);
            passwordConfirmed = null;
            applyPinCode();
        }
    }

    private void OnShowPinCode()
    {
        showPinCode = !showPinCode;
        applyPinCode();
    }

    private async Task OnBackClick()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }

    #endregion

    #region Utils/Help functions

    private void applyPinCode()
    {
        for (int i = 0; i < 5; i++)
        {
            char? pinChar = currentPin.Length > i ? currentPin[i] : null;
            if (pinChar != null)
            {
                PinSymbols[i] = showPinCode ? pinChar.ToString() : starSymbol;
            }
            else
            {
                PinSymbols[i] = dotSymbol;
            }
        }
    }

    #endregion
}