﻿.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1em;
    background-color: #FFFFFF;
}

    .header-back-control {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        color: #919090;
        left: 1em;
        font-size: 20px;
    }

    .back-image {
        width: 10px;
        padding-top: 8px;
    }

    .logo {
        width: 70px;
    }


.body-container {
    flex: 10;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

    .pin-output {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

        .pin-instructions {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            font-size: 22px;
            color: #6E6E6E;
        }

        .pin-display {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

            .pin-dots {
                flex: 3;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;
                font-size: 2.5em;
                color: #C8C8C8;
                text-align: center;
            }

            .pin-show-toggle {
                flex: 1;
                padding-left: 1em;
            }

        .pin-warning {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

            .warning {
                margin-top: 1em;
                background-color: #f6f7f8;
                padding: 10px 20px;
                border-radius: 10px;
                font-size: 18px;
                color: #575757;
                width: 75vw;
            }

                .red {
                    background-color: #fdebea;
                    color: #e03435;
                }

                .green {
                    background-color: #e5f6f1;
                    color: #368073;
                }

    .pin-input {
        flex: 2;
        display: flex;
        flex-direction: column;
        padding: 2em;
    }

        .row {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

            .pin-btn {
                width: 2.5em;
                height: 2.5em;
                border-radius: 1.25em;
                background-color: #f6f7f8;
                color: #F84B6A;
                font-size: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .pin-btn-transparent {
                width: 2.5em;
                height: 2.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
            }
