﻿@page "/createAuth" 

@namespace MauiBlazorHybridAppDemo.Components.Pages
@using MauiBlazorHybridAppDemo.State.Authentication
@using System.Web

<div class="page">
    <div class="header-container">
        <div class="header-back-control" @onclick="OnBackClick">
            <img class="back-image" src="images/left_arrow.png" />
            <p>&nbsp;Back</p>
        </div>
        <img class="logo" src="images/schluss_logo_pink.png" alt="Logo" />
    </div>

    <div class="body-container">
        <div class="pin-output">
            <div class="pin-instructions">
                <p>Choose a pincode you&nbsp;</p>
                <p style="text-decoration:underline;color:#F84B6A;">won't forget</p>
                <img src="images/info_logo.png" style="width:22px;padding-left:5px;" />
            </div>
            <div class="pin-display">
                <div style="flex:1"></div>
                <div class="pin-dots">
                    @foreach (string pinChar in PinSymbols)
                    {
                        <div style="flex: 1; @((pinChar ==  "•") ? "color:#E1E1E1;" : "color:#F84B6A;")">@pinChar</div>
                    }
                </div>

                <div class="pin-show-toggle">
                    <img @onclick="OnShowPinCode" src=@(showPinCode ? "images/eye_closed_icon.png" : "images/eye_open_icon.png") style=@(showPinCode ? "height:22px" : "height:16px") />
                </div>
                
            </div>
            <div class="pin-warning">
                <div class="warning @(currentPin.Length == 5 ? sameDigitPin ? "red" : "green" : "")">@(currentPin.Length == 5 ? sameDigitPin ? "✗ " : "✓ " : "")Not 11111</div>
                <div class="warning @(currentPin.Length == 5 ? consecutivePin ? "red" : "green" : "")">@(currentPin.Length == 5 ? consecutivePin ? "✗ " : "✓ " : "")Not 12345</div>
            </div>
        </div>

        <div class="pin-input">
            <div class="row">
                <div @onclick="() => OnPinClick(1)" class="pin-btn">1</div>
                <div @onclick="() => OnPinClick(2)" class="pin-btn">2</div>
                <div @onclick="() => OnPinClick(3)" class="pin-btn">3</div>
            </div>
            <div class="row">
                <div @onclick="() => OnPinClick(4)" class="pin-btn">4</div>
                <div @onclick="() => OnPinClick(5)" class="pin-btn">5</div>
                <div @onclick="() => OnPinClick(6)" class="pin-btn">6</div>
            </div>
            <div class="row">
                <div @onclick="() => OnPinClick(7)" class="pin-btn">7</div>
                <div @onclick="() => OnPinClick(8)" class="pin-btn">8</div>
                <div @onclick="() => OnPinClick(9)" class="pin-btn">9</div>
            </div>
            <div class="row">
                <div class="pin-btn-transparent "></div>
                <div @onclick="() => OnPinClick(0)" class="pin-btn">0</div>
                <div @onclick="OnDelete" class="pin-btn-transparent">
                    <img src="images/backspace_icon.png" style="width: 2em;" />
                </div>
            </div>
        </div>
    </div>

</div>

@code {
    #region Variables/Properties

    private string starSymbol = "✱";
    private string dotSymbol = "•";

    private string currentPin = String.Empty;
    public List<string> PinSymbols { get; set; } = new List<string>() { "•", "•", "•", "•", "•" };

    private bool showPinCode = false;
    //private bool showPopUp = false;
    bool sameDigitPin = false;
    bool consecutivePin = false;


    #endregion

    #region Events

    private async void OnPinClick(int pinChar)
    {

        if (currentPin.Length < 5)
        {
            currentPin += pinChar.ToString();
            PinSymbols[currentPin.Length - 1] = pinChar.ToString();

            applyPinCode();

            if (currentPin.Length == 5)
            {
                sameDigitPin = currentPin.Distinct().Count() == 1;
                consecutivePin = Enumerable.Range(0, 5).All(i => currentPin[i] == (char)((int)currentPin[0] + i));

                if (PasswordStorage.GetInstance().IsValidPassword(currentPin) && !sameDigitPin && !consecutivePin)
                {
                    NavigationManager.NavigateTo("/confirmAuth/" + currentPin);
                }

            }
        }

    }

    private void OnDelete()
    {

        if (currentPin.Length > 0)
        {
            currentPin = currentPin.Substring(0, currentPin.Length - 1); // Remove last character
            applyPinCode();
        }
    }

    private void OnShowPinCode()
    {
        showPinCode = !showPinCode;
        applyPinCode();
    }

    private async Task OnBackClick()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }

    // private void TogglePopUpClick(object sender, TappedEventArgs e)
    // {
    //     showPopUp = !showPopUp;
    // }

    #endregion

    #region Utils/Help functions

    private void applyPinCode()
    {
        for (int i = 0; i < 5; i++)
        {
            char? pinChar = currentPin.Length > i ? currentPin[i] : null;
            if (pinChar != null)
            {
                PinSymbols[i] = showPinCode ? pinChar.ToString() : starSymbol;
            }
            else
            {
                PinSymbols[i] = dotSymbol;
            }
        }
    }

    #endregion
}