﻿@page "/createVault"

@namespace MauiBlazorHybridAppDemo.Components.Pages

<div class="create-vault-view">
    <div class="background-top">
        @(VaultCreated ? "✓ Create vault" : "Creating vault...")
    </div>
    <div class="background-bottom"></div>
    <div class="main-container">
        <BlazorSlickCarousel @ref="carousel" Configurations="configurations">
            <BlazorSlickCarouselContent>
                @foreach (var item in CreateVaultCarrouselItems)
                {
                    <div class="carousel-item">

                        <div class="carousel-item-image">
                            <img src="@item.Image" alt="@item.Title" />
                        </div>

                        <div class="carousel-item-content">
                            <h1 class="carousel-title">@item.Title</h1>
                            <p class="carousel-description">@item.Description</p>
                        </div>
                    </div>

                }
            </BlazorSlickCarouselContent>
            <BlazorSlickCarouselLoading>
                <p>Loading...</p>
            </BlazorSlickCarouselLoading>
        </BlazorSlickCarousel>
    </div>

    <div class="footer-container">
        <button class="to-vault-button" style="@(VaultCreated ? "background-color: #F84B6A; color: #FFFFFF;" : "background-color: #E1E1E1; color: #404040;")" @onclick="OnToYourVault">@(VaultCreated ? "To you vault" : "One moment...")</button>
    </div>

</div>

@code {
    public BlazorSlickCarousel carousel;
    public WMBSCInitialSettings configurations;

    private int CurrentCarouselIndex = 0;
    public ObservableCollection<CarouselItemModel> CreateVaultCarrouselItems { get; set; } = new ObservableCollection<CarouselItemModel>();

    private bool VaultCreated = false;

    protected override async Task OnInitializedAsync()
    {
        configurations = new WMBSCInitialSettings
            {
                arrows = false,
                dots = true,
                infinite = true,
                slidesToShow = 1,
                slidesToScroll = 1
            };

        LoadCreateVaultCarouselItems();

        await Task.Delay(10000); // Simulate 10-second delay
        VaultCreated = true;
        StateHasChanged(); // Reload UI
    }


    private void LoadCreateVaultCarouselItems()
    {
        CreateVaultCarrouselItems?.Clear();

        CreateVaultCarrouselItems?.Add(new CarouselItemModel
            {
                Id = 1,
                Title = "Tip: Remember your pincode!",
                Description = "Because if you forget it, even we can't help you regain access.",
                Image = "images/schluss_magnet_new.png"
            });

        CreateVaultCarrouselItems?.Add(new CarouselItemModel
            {
                Id = 2,
                Title = "Your data can now be put in your vault",
                Description = "With the Schluss app you can easily retrieve data and place ir safely in your vault.",
                Image = "images/schluss_head.png"
            });

        CreateVaultCarrouselItems?.Add(new CarouselItemModel
            {
                Id = 3,
                Title = "Your're at the helm",
                Description = "With Schluss you remain in control: you decide who sees what of your personal data.",
                Image = "images/schluss_key.png"
            });

        CreateVaultCarrouselItems?.Add(new CarouselItemModel
            {
                Id = 4,
                Title = "You can test functionality",
                Description = "Technology and security layers are still work in progress. Please get in touch with us if you have any qustions.",
                Image = "images/connections_image.png"
            });
    }

    private void OnToYourVault()
    {
        NavigationManager.NavigateTo("/unlockAuth");
    }
}
