﻿.create-vault-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.background-top {
    flex: 1;
    background-color: #f6f7f8;
    border-radius: 0 0 50% 50% / 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    color: #6E6E6E;
    font-size: 1.5em;
    padding: 5px;
}

.background-bottom {
    flex: 7;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-container {
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 80vh;
}


.carousel-item {
    width: 100vw;
}

    .carousel-item img {
        height: calc(50vh - 120px);
        width: auto;
    }

.carousel-item-image {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item-content {
    width: 100vw;
    padding: 0 3em 0 3em;
    padding-top: 2em;
    text-align: center;
}

.carousel-title {
    font-weight: bold;
    font-size: 28px;
}

.carousel-description {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 18px;
}

.footer-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.to-vault-button {
    padding: 1em 0em;
    margin: 1em;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}
