﻿@page "/intro"

@namespace MauiBlazorHybridAppDemo.Components.Pages

<div class="intro-view">
    <div class="header-container">
        <img src="images/schluss_full_logo_pink.png" alt="Schluss Logo" />
    </div>

    <div class="background-top"></div>
    <div class="background-bottom"></div>
    <div class="main-container">
        <BlazorSlickCarousel @ref="carousel" Configurations="configurations">
            <BlazorSlickCarouselContent> 
                @foreach (var item in IntroCarouselItems)
                {
                    <div class="carousel-item">

                        <div class="carousel-item-image">
                            <img src="@item.Image" alt="@item.Title" />
                        </div>

                        <div class="carousel-item-content">
                            <h1 class="carousel-title">@item.Title</h1>
                            <p class="carousel-description">@item.Description</p>
                        </div>
                    </div>
                    
                }
            </BlazorSlickCarouselContent>
            <BlazorSlickCarouselLoading>
                <p>Loading...</p>
            </BlazorSlickCarouselLoading>
        </BlazorSlickCarousel>
    </div>

    <div class="footer-container">
        <button class="get-started-button" @onclick="OnGetStarted">Let's get started</button>
    </div>
    
</div>

@code {
    public BlazorSlickCarousel carousel;
    public WMBSCInitialSettings configurations;

    private int CurrentCarouselIndex = 0;
    public ObservableCollection<CarouselItemModel> IntroCarouselItems { get; set; } = new ObservableCollection<CarouselItemModel>();

    protected override void OnInitialized()
    {
        configurations = new WMBSCInitialSettings {
                arrows = false,
                dots = true,
                infinite = true,
                slidesToShow = 1,
                slidesToScroll = 1
        };

        LoadIntroCarouselItems();
    }

    private void LoadIntroCarouselItems()
    {
        IntroCarouselItems?.Clear();

        IntroCarouselItems?.Add(new CarouselItemModel
            {
                Id = 1,
                Title = "Welcome to your own vault",
                Description = "All your data secured and stores safely and easily in your personal vault. You decide what you 'share' ans with whom.",
                Image = "images/schluss_magnet_new.png"
            });

        IntroCarouselItems?.Add(new CarouselItemModel
            {
                Id = 2,
                Title = "You are in control",
                Description = "Decide for yourself who gets access to your data, and for how long.",
                Image = "images/schluss_head.png"
            });

        IntroCarouselItems?.Add(new CarouselItemModel
            {
                Id = 3,
                Title = "Securely stored",
                Description = "Store all your data securely in your vault. Only you have the key. Even Schluss cannot access it.",
                Image = "images/schluss_key.png"
            });

        IntroCarouselItems?.Add(new CarouselItemModel
            {
                Id = 4,
                Title = "Quick and easy",
                Description = "Share data easily with companies, family and friends.",
                Image = "images/connections_image.png"
            });
    }

    private void OnGetStarted()
    {
        NavigationManager.NavigateTo("/promises");
    }
}
