﻿.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-container {
    flex: 1;
    padding-top: 1em;
    background-color: #f6f7f8;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

    .logo {
        width: 70px;
    }

.body-background-top {
    flex: 4;
    background-color: #f6f7f8;
    border-radius: 0 0 50% 50% / 50px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.body-background-bottom {
    flex: 4;
    background-color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-container {
    position: absolute;
    background-color: #ffffff;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 60vh;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

    .main-top {
        flex: 4;

        display: flex;
        flex-direction: row;

        padding-top: 1.5em;

    }

        .main-left {
            flex: 1;
            display: flex;
            flex-direction: column;

            align-items: center;

            color: #F84B6A;
        }

            .left-check {
                flex: 1;
                font-size: 1.5em;
            }

        .main-right {
            flex: 4;
            display: flex;
            flex-direction: column;
            padding-right: 1em;

            color: #212121;
        }

            .right-text {
                flex: 1;
                font-size: 1.1em;
            }

    .main-bottom {
        flex: 1;
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: flex-start;
        padding: 0 1em;

    }

        .promise-image-1 {
            height: 45px;
        }

        .promise-image-2 {
            height: 60px;
        }

.footer-container {
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .terms-conditions-container {
        display: flex;
        flex-direction: row;

        justify-content: center;
    }

        .terms-conditions-text {
            color: #0070E0;
            text-decoration: underline; 
        }


.next-button {
    background-color: #F84B6A;
    color: #FFFFFF;
    padding: 1em 0em;
    margin: 1em;

    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}
