﻿@page "/promises"

@namespace MauiBlazorHybridAppDemo.Components.Pages

<div class="page">
    <div class="header-container">
        <img class="logo" src="images/schluss_logo_pink.png" alt="Logo" />
    </div>

    <div class="body-background-top">
        <h1>Promises</h1>
    </div>

    <div class="body-background-bottom"></div>

    <div class="main-container">
        <div class="main-top">
            <div class="main-left">
                <p class="left-check">✓</p>
                <p class="left-check">✓</p>
                <p class="left-check">✓</p>
                <p class="left-check">✓</p>
            </div>
            <div class="main-right">
                <p class="right-text">You will always be the owner of your personal data</p>
                <p class="right-text">You decide which personal data you share with whom</p>
                <p class="right-text">Nobody can access your data without your permission, not even Schluss</p>
                <p class="right-text">Your data is securely stored in your digital vault</p>
            </div>
        </div>

        <div class="main-bottom">
            <img class="promise-image-1" src="images/privacy_awards_logo.png" />
            <img class="promise-image-2" src="images/my_data_logo.png" />
        </div>
    </div>

    <div class="footer-container">
        <div class="terms-conditions-container">
            <p style="color:#404040;">Read our&nbsp;</p>
            <p class="terms-conditions-text" @onclick="OnTermsAndConditions">Terms and Conditions (Dutch)</p>
        </div>
        

        <button class="next-button" @onclick="OnNext">Next</button>
    </div>

</div>

@code {
    // protected override async Task OnInitializedAsync()
    // {
    //     await Task.CompletedTask;
    // }

    private void OnNext()
    {
        NavigationManager.NavigateTo("/createAuth");
    }

    private async void OnTermsAndConditions()
    {
        await Launcher.OpenAsync("https://schluss.org/");
    }
}
