﻿@inherits LayoutComponentBase

<div class="app">
    <div class="body-content">
        @Body
    </div>

    @if (HasBottomNav(NavigationManager.Uri.Substring(NavigationManager.BaseUri.Length - 1)))
    {
        <div class="footer">
            <NavMenu />
        </div>
    }
</div>

@code {
    private bool HasBottomNav(string path)
    {
        string[] includedRoutes = new[] { "/overview", "/account", "/data", "/qr", "/connections" };
        return includedRoutes.Contains(path);
    }
}