.navbar-container {
    box-shadow: 0px -8px 10px -3px rgba(0,0,0,0.1);
}

.nav-item {
    font-size: 0.9rem;
}

    .nav-item > a {
        height: 3rem;
        display: flex;
        align-items: center;
        padding: 0 0;
    }

        .nav-item > a > img {
            width: 2rem;
            height: 2rem;
            filter: invert(43%) sepia(14%) saturate(486%) hue-rotate(186deg) brightness(95%) contrast(94%);
        }

        .nav-item > a > p {
            color: #666d80;
        }

        .nav-item > .active-item > p {
            color: #F84B6A;
        }

    .nav-item > .active-item > img {
        filter: invert(39%) sepia(40%) saturate(2677%) hue-rotate(323deg) brightness(103%) contrast(94%);
    }


.qr-container {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    background-color: #21293c;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .qr-container > a > img {
        filter: invert(98%) sepia(0%) saturate(7500%) hue-rotate(58deg) brightness(104%) contrast(98%);
    }