﻿<nav class="navbar-container navbar navbar-light navbar-expand fixed-bottom justify-content-center">
    <div class="container-fluid">

        <ul class="navbar-nav nav-justified w-100 text-center">

            <li class="nav-item">
                <a class="nav-link d-flex flex-column @(activeRoute == "/overview" ? "active-item" : "")" @onclick="@(() => HandleNavigation("/overview"))" Match="NavLinkMatch.All">
                    <img src="images/icons/overview_icon.svg" />
                    <p>Overview</p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link d-flex flex-column @(activeRoute == "/data" ? "active-item" : "")" @onclick="@(() => HandleNavigation("/data"))">
                    <img src="images/icons/data_icon.svg" />
                    <p>Data</p>
                </a>
            </li>

            <li class="nav-item"></li>

            <li class="nav-item qr-container">
                <a class="nav-link d-flex flex-column" style="justify-content: center; align-items: center;" @onclick="@(() => HandleNavigation("/qr"))">
                    <img src="images/icons/qr_icon.svg" />
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link d-flex flex-column @(activeRoute == "/connections" ? "active-item" : "")" @onclick="@(() => HandleNavigation("/connections"))">
                    <img src="images/icons/connections_icon.svg" />
                    <p>Connections</p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link d-flex flex-column @(activeRoute == "/account" ? "active-item" : "")" @onclick="@(() => HandleNavigation("/account"))">
                    <img src="images/icons/account_icon.svg" />
                    <p>Account</p>
                </a>
            </li>

        </ul>

    </div>
</nav>

@code {
    // public List<string> AvailableRoutes { get; set; } = new List<string>() {"/overview", "/data", "/qr", "connections", "/account" }
    private string activeRoute;

    protected override void OnInitialized()
    {
        activeRoute = "/overview";
    }

    void HandleNavigation(string href)
    {
        activeRoute = href;
        NavigationManager.NavigateTo(href);
    }
}