﻿.connections-view {
    background-color: #f6f7f8;
    height: 100vh;
    padding: 4rem 0;
}

.header {
    position: fixed;
    height: 4rem;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0px 8px 10px -3px rgba(0,0,0,0.1);
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .header h1 {
        font-size: 32px;
    }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

    .main > img {
        width: 14em;
        height: 14em;
    }

    .main > p {
        font-size: 18px;
        color: #6E6E6E;
        text-align: center;
        padding: 1em 3em;
    }