﻿@page "/connections"

<div class="connections-view">

    <div class="header">
        <h1>Connections</h1>
    </div>

    <div class="main">
        <img src="images/connections_image.png" />
        <p>No connections found.</p>
    </div>
</div>

@code {

}
