﻿@page "/data"

<div class="data-view">
    <div class="header">
        <h1>Data</h1>
    </div>

    <div class="main">
        <img src="images/data_image.png" />
        <p>No data found.</p>
    </div>
</div>

@code {
}
