﻿@page "/overview"

<div class="overview-view">
	<div class="header">
		<h1>Overview</h1>
	</div>
	<div class="main">
		<img src="images/overview_image.png" />
		<p>Data requests and activities will appear here.</p>

		<button type="button" @onclick="OpenPasswordForm">Open Password Window</button>

	</div>
</div>

@code {
	private void OpenPasswordForm()
	{
		NavigationManager.NavigateTo("/AddSecret");
	}
}
