﻿@page "/AddSecret"
@using MauiBlazorHybridAppDemo.Models.DataLayer
@using SecretEntry = MauiBlazorHybridAppDemo.ViewModels.SecretEntry
@using Microsoft.Extensions.Logging
@inject ILogger<PasswordInputForm> Logger

<div>
    <div class="header">
        <h1>Insert a password</h1>
    </div>
    <div class="main">

         <EditForm Model="newSecretEntry" OnSubmit="Submit" FormName="PasswordInputForm">
        
            <div>
                <label>
                    Type:
                    <InputText @bind-Value="newSecretEntry!.SecretType" />
                </label>
                <label>
                    Value:
                    <InputText @bind-Value="newSecretEntry!.SecretValue" />
                </label>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>

        </EditForm> 

        <p>List of stored items</p>
        <ul>
            @foreach (SecretEntry entry in storedSecrets)
            {
                <li>
                    <p>@(entry.SecretType + " : " + entry.SecretValue)</p>
                    <button type="button" @onclick="@(e => DeleteItem(entry.SecretType!))">Delete</button>
                </li>
            }
        </ul> 

        <button type="button" @onclick="BackToOverview">Back to overview</button>
    </div>
</div>


@code {
    [SupplyParameterFromForm] private SecretEntry? newSecretEntry { get; set; }
    private List<SecretEntry> storedSecrets { get; set; } = new();
    private IStorageRepository StorageRepository { get; set; } = StorageRepositoryFactory.GetInstance();

    protected override void OnInitialized()
    {
        newSecretEntry = new SecretEntry("","");

        // setup the repo -> moved to instantiation of the class
        // StorageRepository = LocalStorageRepository.GetInstance();
        //StorageRepository = StorageRepositoryFactory.GetInstance(); // SecureStorage uses local storage on the device
        InitializeData();
    }

    /// <summary>
    /// Initialize data for the first time
    /// </summary>
    private async void InitializeData()
    {
        bool success = await StorageRepository.LoadStoredDataIntoCache();

        if (success) Logger.LogInformation("Initial data loaded successfully");
        else Logger.LogError("Error in initial loading data from storage");

        UpdateFrontEndList();
    }

    private void UpdateFrontEndList()
    {
        storedSecrets = StorageRepository.GetAllSecrets();
        StateHasChanged(); // todo: optimize this, re-render the frame to ensure data is properly displayed
    }

    private async void DeleteItem(string key)
    {
        bool success = await StorageRepository.DeleteSecretWithKey(key);

        if (success) Logger.LogInformation("Data deleted successfully");
        else Logger.LogError("Error in deleting data from storage");

        UpdateFrontEndList();
    }

    private async void Submit()
    {
        Logger.LogInformation("type; {Type}, value; {Value}", new[] { newSecretEntry!.SecretType, newSecretEntry!.SecretValue });

        if (newSecretEntry.SecretType == null)
        {
            Logger.LogError("Added key null");
            return;
        }
        if (newSecretEntry.SecretValue == null)
        {
            Logger.LogError("Added value null");
            return;
        }

        // update storage
        // await to ensure it's handled before proceeding
        // don't use .Result as it breaks everything
        bool success = await StorageRepository.UpdateSecretWithKey(newSecretEntry.SecretType, newSecretEntry.SecretValue);
        if (success) Logger.LogInformation("Data stored successfully");
        else Logger.LogError("Error in putting data into storage");

        // reset the input data object (and with it the data-bound form) after processing all data
        newSecretEntry = new SecretEntry("", "");

        UpdateFrontEndList();
    }

    private void BackToOverview()
    {
        NavigationManager.NavigateTo("/overview");
    }


}
