﻿@page "/"

@namespace MauiBlazorHybridAppDemo.Components.Pages
@using MauiBlazorHybridAppDemo.State.Authentication

<div style="height: 100vh; width: 100vw; background-color: #f6f7f8; display: flex; justify-content: center; align-items: center;">
    <img src="images/schluss_logo_pink.svg" style="width:128px; height: 128px" />
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

@code {

	protected override async Task OnInitializedAsync()
	{
        if (await PasswordStorage.GetInstance().IsRegistered())
        {
            NavigationManager.NavigateTo("/unlockAuth");
        }
        else
        {
            NavigationManager.NavigateTo("/intro");
        }
	}
}
